<div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />      
  </div>
</div>

<div class="cards-holder">
  <div class="card-container">
    Content in here
  </div>
  <div class="card-container">
    Content in here
  </div>
  <div class="card-container">
    Content in here
  </div>
  <div class="card-container">
    Content in here
  </div>
</div>

<div class="carousel-controls">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

