<div id="twitter_random_strip">
  <div><h1 (click)="clickOnMe1()">ArcheryGB</h1></div>

  <div class="twitter-random-card">
    <div class="top-head">
      <div class="twitter-head">
        <h4>{{randomTweet.user.name}}<span> @{{randomTweet.user.name}}</span></h4>
        <div class="profile-circle"></div>
    </div>
    </div>
    <div class="expanded-content">
      <div class="post-content">{{ randomTweet.text}}</div>
      <div class="post-time">Post time {{ randomTweet.created_at }}</div>
    </div>
  </div>
</div>