<div id="twitter_random_strip">

  <div class="twitter-random-card">
    <div class="top-head">
      <div class="twitter-head">
        <h4>World Archery <span>@worldarchery</span></h4>
        <div class="profile-circle"></div>
    </div>
    </div>
    <div class="expanded-content closed">
      <div class="post-header"><div class="profile-circle"></div><p>World Archery<br/><span>@wordarchery</span></p></div>
      <div class="post-content">NEWS. Mexico 🇲🇽 announces team for 2019 @Hyundai World #Archery Championships and @Lima2019Games 🎯🏹 https://worldarchery.org/news/166156/mexico-announces-team-2019-world-archery-championships-and-pan-american-</div>
      <div class="post-image"><div class="dummy-image"></div></div>
        <div class="twitter-stats">
          <div class="twitter-love stats"><p><i class="fa fa-heart"></i>64</p></div>
          <div class="twitter-retweet stats"><p><i class="fa fa-retweet"></i>11</p></div>
          <div class="spacer stats"><p>6:22 PM - 12 March 2019</p></div>
        </div>
    </div>
  </div>

  <div class="twitter-random-card">
    <div class="top-head">
      <div class="twitter-head">
        <h4>Cats Protection <span>@CatsProtection</span></h4>
        <div class="profile-circle"></div>
    </div>
    </div>
    <div class="expanded-content">
      <div class="post-header"><div class="profile-circle"></div><p>TrustedHousitters<br/><span>@Housesitting</span></p></div>
      <div class="post-content">Happy #Caturday We're proud to be partnered with @CatsProtection the UK's leading feline welfare charity. When visiting your local shelter this weekend ask about @Housesitting, together we're helping keep cats happy at home #rescuecats #catsarefamily #catsLOVEcompany</div>
      <div class="post-image"><div class="dummy-image"></div></div>
        <div class="twitter-stats">
          <div class="twitter-love stats"><p><i class="fa fa-heart"></i>64</p></div>
          <div class="twitter-retweet stats"><p><i class="fa fa-retweet"></i>11</p></div>
          <div class="spacer stats"><p>11:27 AM - 2 March 2019</p></div>
        </div>
    </div>
  </div>

  
</div>