<div class="box">
  <div class="container-1">
      <span id="beginSearch" class="icon" (click)="search()"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..."  [(ngModel)]="searchInput" (keyup.enter)="search()"/>     
  </div>
</div>

<div class="twitter-strip">
  <div class="card-wrapper" *ngFor="let tweet of tweets$">
    <div class="card-content">
    <div class="twitter-user">
      <div class="twitter-circle-profile"></div>
      <div class="twitter-name"><p>{{ tweet.user.screen_name}}</p></div>
      <div class="twitter-handle"><p>@{{tweet.user.screen_name}}<p></div>
      <div class="twitter-post-dt"><p>1hr</p></div>
      </div>
      <div class="twitter-text"><p>{{ tweet.text }}</p></div>
      <div class="twitter-image">
        <div class="img-holder">
       <!--  <img src="{{tweet.user.entities.media.media_url}}"> -->
          <p>Image holder</p>
        </div>
      </div>
      <div class="twitter-stats">
        <div class="twitter-love stats"><p><i class="fa fa-heart"></i>64</p></div>
        <div class="twitter-retweet stats"><p><i class="fa fa-retweet"></i>11</p></div>
        <div class="spacer stats"></div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="carousel-controls">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div> -->

