<div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />      
  </div>
</div>

<div class="twitter-strip">
  <div class="card-wrapper" *ngFor="let user of users$">
    <div class="card-content">
    <div class="twitter-user">
      <div class="twitter-circle-profile"></div>
      <div class="twitter-name"><p>{{ user.name }}</p></div>
      <div class="twitter-handle"><p>@{{ user.name }}<p></div>
      <div class="twitter-post-dt"><p>1hr</p></div>
      </div>
      <div class="twitter-text"><p>{{ user.email }}</p></div>
      <div class="twitter-image">
        <div class="img-holder">
          <p>Image holder</p>
        </div>
      </div>
      <div class="twitter-stats">
        <div class="twitter-love stats"><p><i class="fa fa-heart"></i>64</p></div>
        <div class="twitter-retweet stats"><p><i class="fa fa-retweet"></i>11</p></div>
        <div class="spacer stats"></div>
      </div>
    </div>
  </div>

  <!-- <div class="card-wrapper">
      <div class="card-content">
      <div class="twitter-user">
        <div class="twitter-circle-profile"></div>
        <div class="twitter-name"><p>Alvin ASBO</p></div>
        <div class="twitter-handle"><p>@AlvinASBO<p></div>
        <div class="twitter-post-dt"><p>2hr</p></div>
        </div>
        <div class="twitter-text"><p>Good morning, happy #caturday everyone.  Its a bit overcast here, but Mum said she might let us into the garden later after she's had something called a 'massage'. 😻😹🐾🐾🐾 @bohemiancatsody</p></div>
        <div class="twitter-image">
          <div class="img-holder">
            <p>Image holder</p>
          </div>
        </div>
        <div class="twitter-stats">
          <div class="twitter-love stats"><p><i class="fa fa-heart"></i>70</p></div>
          <div class="twitter-retweet stats"><p><i class="fa fa-retweet"></i>17</p></div>
          <div class="spacer stats"></div>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
        <div class="card-content">
        <div class="twitter-user">
          <div class="twitter-circle-profile"></div>
          <div class="twitter-name"><p>Vopiscus</p></div>
          <div class="twitter-handle"><p>@vopiscus_bm<p></div>
          <div class="twitter-post-dt"><p>11hr</p></div>
          </div>
          <div class="twitter-text"><p>New #kitten Henry has discovered there are fun new play opportunities to be found by raiding the recycling bin...</p></div>
          <div class="twitter-image">
            <div class="img-holder">
              <p>Image holder</p>
            </div>
          </div>
          <div class="twitter-stats">
            <div class="twitter-love stats"><p><i class="fa fa-heart"></i></p></div>
            <div class="twitter-retweet stats"><p><i class="fa fa-retweet"></i></p></div>
            <div class="spacer stats"></div>
          </div>
        </div>
      </div> -->



</div>


<div class="carousel-controls">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

