<div id="twitter_random_strip">

  <div class="twitter-random-card">
    <div class="top-head">
      <div class="twitter-head">
        <h4>World Archery <span>@worldarchery</span></h4>
        <div class="profile-circle"></div>
    </div>
    </div>
    <div class="expanded-content">
      <div class="post-header">Post Header</div>
      <div class="post-content">Post Content</div>
      <div class="post-image">Post Image</div>
      <div class="post-footer">Post Footer x2 </div>
    </div>
  </div>

  <div class="twitter-random-card">
    <div class="top-head">
        <h4>This is where the head is going to be</h4>
    </div>
  </div>
  
</div>